<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>

        <!-- Define new tab -->
        <tab id="ahy" translate="label" sortOrder="5">
            <label>Ahy</label>
        </tab>

        <!-- Section under that tab -->
        <section id="barcode_lookup" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>BarcodeLookup</label>
            <tab>ahy</tab> <!-- Put this section under Ahy tab -->
            <resource>Ahy_BarcodeLookup::config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field 
                    id="update_interval" 
                    translate="label" 
                    type="text" 
                    sortOrder="20"
                    showInDefault="1" 
                    showInWebsite="1" 
                    showInStore="1"
                >
                    <label>Product Update Time Interval (in days)</label>
                    <comment>How often to update the products via BarcodeLookup API</comment>
                    <validate>validate-digits</validate>
                    <frontend_class>required-entry</frontend_class>
                    <config_path>barcode_lookup/general/update_interval</config_path>
                </field>

                <field 
                    id="api_key" 
                    translate="label" 
                    type="password" 
                    sortOrder="30"
                    showInDefault="1" 
                    showInWebsite="1" 
                    showInStore="1"
                >
                    <label>API Key</label>
                    <comment>BarcodeLookup API key</comment>
                    <frontend_class>required-entry</frontend_class>
                    <config_path>barcode_lookup/general/api_key</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
