#menu-ahy-top-level > a:before {
    background: url('../images/ahy-icon-grey.svg') no-repeat center !important;
    content: '';
    background-size: contain!important;
}

/*Fixing Webkul Marketplace Menu Styling Issue*/
#menu-webkul-marketplace-marketplace > a{
    color: #aaa6a0!important;
}

#menu-webkul-marketplace-marketplace > a:hover{
    color: #ffffff!important;
}
