<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="tests-bootstrap.php"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./Test/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./Test/Feature</directory>
        </testsuite>
    </testsuites>
</phpunit>
