<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ahy_savedcc>
                <validation_mode>testMode</validation_mode>
            </ahy_savedcc>
            <customervaultcards>
                <active>1</active>
                <model>Ahy\Authorizenet\Model\CustomerVaultCards</model>
                <title>Stored Payment Methods</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>2</sort_order>
            </customervaultcards>
        </payment>
    </default>
</config>