<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductStockAlert
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2017 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Module\Setup\Migration">
        <arguments>
            <argument name="compositeModules" xsi:type="array">
                <item name="productstockalert" xsi:type="string">Bss_ProductStockAlert</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\GroupedProduct\Block\Product\View\Type\Grouped" type="Bss\ProductStockAlert\Block\Product\View\Type\Grouped" />
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Checkbox" type="Bss\ProductStockAlert\Block\Product\View\Type\Bundle\Option\Checkbox" />
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Radio" type="Bss\ProductStockAlert\Block\Product\View\Type\Bundle\Option\Radio" />
    <preference for="Magento\Bundle\Block\Catalog\Product\View\Type\Bundle\Option\Select" type="Bss\ProductStockAlert\Block\Product\View\Type\Bundle\Option\Select" />
    <preference for="Magento\Bundle\Model\ResourceModel\Option\Collection" type="Bss\ProductStockAlert\Model\ResourceModel\Option\Collection" />
    <preference for="Magento\Wishlist\CustomerData\Wishlist" type="Bss\ProductStockAlert\CustomerData\Wishlist" />
    <virtualType name="bssstockgrid" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bss_product_alert_stock</argument>
            <argument name="resourceModel" xsi:type="string">Bss\ProductStockAlert\Model\ResourceModel\Stock</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="productstockalert_customer_subscription_list_data_source" xsi:type="string">bssstockgrid</item>
            </argument>
        </arguments>
    </type>
    <type name="Bss\ProductStockAlert\Helper\MultiSourceInventory">
        <arguments>
            <argument name="getSalableQuantityDataBySku" xsi:type="string">\Magento\InventorySalesAdminUi\Model\GetSalableQuantityDataBySku</argument>
            <argument name="stockResolver" xsi:type="string">\Magento\InventorySalesApi\Api\StockResolverInterface</argument>
            <argument name="salableQty" xsi:type="string">\Magento\InventorySalesApi\Api\GetProductSalableQtyInterface</argument>
            <argument name="isProductSalable" xsi:type="string">\Magento\InventorySalesApi\Api\IsProductSalableInterface</argument>
            <argument name="areProductsSalable" xsi:type="string">\Magento\InventorySalesApi\Api\AreProductsSalableInterface</argument>
        </arguments>
    </type>
    <type name="Bss\ProductStockAlert\Model\Observer\ApplyProductAlertOnCollectionAfterLoadObserver">
        <arguments>
            <argument name="stockItemRepository" xsi:type="object">Magento\CatalogInventory\Api\StockItemRepositoryInterface\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Data\Form\FormKey\Validator">
        <plugin name="bss_stock_notice_run_crun_manually" type="Bss\ProductStockAlert\Plugin\DataForm\Validator\RunCronNow" />
    </type>
    <preference for="Bss\ProductStockAlert\Model\Form\SessionConfigInterface" type="Bss\ProductStockAlert\Model\Form\SessionConfig" />
</config>
