<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
         <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Ahy_EstateApiIntegration::config" title="Estate API Config" sortOrder="90"/>
                <resource id="Ahy_EstateApiIntegration::estate_root" title="Estate Compliance">
                    <resource id="Ahy_EstateApiIntegration::approve_document"
                            title="Approve Compliance Document"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
