<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Membership management (admin grid + actions) -->
                <resource id="Ahy_CaliberNation::caliber_nation" title="Caliber Nation" sortOrder="80">
                    <resource id="Ahy_CaliberNation::membership" title="Membership Management" sortOrder="10"/>
                    <resource id="Ahy_CaliberNation::seller_pricing" title="Seller Participation &amp; Pricing" sortOrder="20"/>
                    <resource id="Ahy_CaliberNation::price_rules" title="Category Level Discounts" sortOrder="30"/>
                </resource>

                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Ahy_CaliberNation::config"
                                      title="Caliber Nation — Membership Settings"
                                      sortOrder="500"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
