<?xml version="1.0"?>
<!--
/**
 * Webkul Software
 *
 * @category    Webkul
 * @package     Webkul_MpSellerBuyerCommunication
 * @author      Webkul
 * @copyright   Copyright (c)  Webkul Software Private Limited (https://webkul.com)
 * @license     https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webkul_Marketplace::marketplace" title="Marketplace Management" sortOrder="10" >
                    <resource id="Webkul_MpSellerBuyerCommunication::sellerbuyercommunication_menu" title="Seller Buyer Communication" sortOrder="10">
                        <resource id="Webkul_MpSellerBuyerCommunication::query" title="Seller Buyer Communication Query List" sortOrder="11" />
                        <resource id="Webkul_MpSellerBuyerCommunication::query_view" title="Seller Buyer Communication Query View" sortOrder="12" />
                        <resource id="Webkul_MpSellerBuyerCommunication::query_reply" title="Seller Buyer Communication Query Reply" sortOrder="13" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Webkul_MpSellerBuyerCommunication::config_mpsellerbuyercommunication" title="Seller Buyer Communication Configuration" sortOrder="51" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>