<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpMassUpload
 * @author    Webkul
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_MpMassUpload::menu" title="Mass Upload Manager" module="Webkul_MpMassUpload" sortOrder="100" parent="Webkul_Marketplace::marketplace" resource="Webkul_MpMassUpload::menu"/>
        <add id="Webkul_MpMassUpload::dataflow_profile" title="Mass Upload Dataflow Profile" module="Webkul_MpMassUpload" sortOrder="20" parent="Webkul_MpMassUpload::menu" action="mpmassupload/dataflow_profile/index" resource="Webkul_MpMassUpload::dataflow_profile"/>
        <add id="Webkul_MpMassUpload::upload" title="Mass Upload Product" module="Webkul_MpMassUpload" sortOrder="21" parent="Webkul_MpMassUpload::menu" action="mpmassupload/upload" resource="Webkul_MpMassUpload::upload"/>
        <add id="Webkul_MpMassUpload::run" title="Run Mass Upload Profile" module="Webkul_MpMassUpload" sortOrder="22" parent="Webkul_MpMassUpload::menu" action="mpmassupload/run" resource="Webkul_MpMassUpload::run"/>
        <add id="Webkul_MpMassUpload::profileListing" title="Mass Upload Profile Listing" module="Webkul_MpMassUpload" sortOrder="23" parent="Webkul_MpMassUpload::menu" action="mpmassupload/profileListing/index" resource="Webkul_MpMassUpload::profileListing"/>
        <add id="Webkul_MpMassUpload::export" title="Mass Upload Product Export" module="Webkul_MpMassUpload" sortOrder="24" parent="Webkul_MpMassUpload::menu" action="mpmassupload/export" resource="Webkul_MpMassUpload::export"/>
    </menu>
</config>
