<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <authnetahypayment>
                <active>1</active>
                <model>Ahy\Authorizenet\Model\PaymentMethod</model>
                <title>Ahy Authorizenet Payment</title>
                <order_status>processing</order_status>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </authnetahypayment>
        </payment>
    </default>
</config>