<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="BitrailPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Bitrail\PaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Bitrail\PaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">BitrailPaymentGatewayValueHandlerPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="BitrailPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Bitrail\PaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with BitrailPaymentGatewayConfig -->
    <virtualType name="BitrailPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">BitrailPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bitrail\PaymentGateway\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">BitrailPaymentGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Value handlers infrastructure -->
    <virtualType name="BitrailPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">BitrailPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="BitrailPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">BitrailPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Bitrail\PaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">BitrailPaymentGatewayConfig</argument>
        </arguments>
    </type>

</config>
