<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="bitrail_gateway_data_assign" instance="Bitrail\PaymentGateway\Observer\DataAssignObserver" />
    </event>
    <event name="payment_method_is_active">
        <observer name="disable_payment" instance="Bitrail\PaymentGateway\Observer\PaymentMethodAvailableObserver" />
    </event>
</config>
