<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Hyva\Theme\Model\ViewModelRegistry">
		<arguments>
			<argument name="viewModels" xsi:type="array">
				<item name="savedCcConfig" xsi:type="string">
					Ahy\SavedCC\ViewModel\ConfigProvider
				</item>
			</argument>
		</arguments>
	</type>
</config>
