<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ProductStockAlert
 * @author     Extension Team
 * @copyright  Copyright (c) 2015-2022 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Bss Commerce]]></label>
        </tab>
        <section id="bss_productstockalert" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Out of Stock Notification</label>
            <tab>bss</tab>
            <resource>Bss_ProductStockAlert::bss_productstockalert</resource>
            <group id="productstockalert" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Alerts</label>
                <field id="allow_stock" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.3.2]]></comment>
                </field>
                <field id="allow_customer" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Product Subscription for</label>
                    <source_model>Bss\ProductStockAlert\Model\Config\Source\Customer</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="email_based_qty" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send Notification Based on Available Number of Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set YES, only send email notification to limited number of customer subscriptions according to available number of product. If set NO, send email notification to all customer subscriptions when inventory is in stock.</comment>
                </field>
                <field id="message" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notification Message</label>
                </field>
                <field id="stop_message" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stop Notification Message</label>
                </field>
                <field id="send_limit" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Limit Email Send per Customer</label>
                    <validate>validate-greater-than-zero required-entry validate-digits</validate>
                </field>
                <field id="allow_stock_qty" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send Mail When Quantity</label>
                    <comment>Send mail to customer if only quantity is more than this amount.</comment>
                    <validate>validate-greater-than-zero required-entry validate-digits</validate>
                </field>
                <field id="email_stock_template" translate="label comment" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stock Alert Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_identity" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alert Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
            </group>
            <group id="button_design" translate="label" type="text" sortOrder="255" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Notify Button Design</label>
                <field id="button_text" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Notify Button Text</label>
                </field>
                <field id="stop_button_text" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stop Notify Button Text</label>
                </field>
                <field id="button_text_color" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Text Color</label>
                    <frontend_model>Bss\ProductStockAlert\Block\Adminhtml\Config\Configuration\ColorPicker</frontend_model>
                </field>
                <field id="button_color" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button Color</label>
                    <frontend_model>Bss\ProductStockAlert\Block\Adminhtml\Config\Configuration\ColorPicker</frontend_model>
                </field>
            </group>
            <group id="productstockalert_cron" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Alerts Run Settings</label>
                <field id="choose_cron" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Choose Type Cron</label>
                    <source_model>Bss\ProductStockAlert\Model\Config\Source\ChooseCronType</source_model>
                </field>
                <field id="cron_period" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <backend_model>Bss\ProductStockAlert\Model\Config\Source\Alert</backend_model>
                    <comment>Set frequency by Minute Hour DayofMonth MonthofYear DayofWeek.</comment>
                    <depends><field id="*/productstockalert_cron/choose_cron">0</field></depends>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Bss\ProductStockAlert\Model\Config\Source\AlertDropdownType</backend_model>
                    <depends><field id="*/productstockalert_cron/choose_cron">1</field></depends>
                </field>
                <field id="time" translate="label" type="time" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Time</label>
                    <depends><field id="*/productstockalert_cron/choose_cron">1</field></depends>
                </field>
                <field id="error_email" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Error Email Recipient</label>
                    <validate>required-entry validate-email</validate>
                </field>
                <field id="error_email_identity" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Error Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="error_email_template" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Error Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="run_cron" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Bss\ProductStockAlert\Block\System\Config\Form\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
